.nav {
    height: 80px;
    background: #222;
    line-height: 80px;
}
.nav .nav_left img {
    width: 220px;
}

.nav_right .nav_list li{
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.nav_right .nav_list li a {
    cursor: pointer;
    color: #fff;
    padding: 0 16px;
    font-size: 16px;
    display: block;
}
.special {
    margin-left: 10px;
}